<!doctype html>
<html>
    <head>
        <title>DeReFang</title>
    </head>
    <body>
        <h1>
            Defang!
        </h1>
        <form action="/defang/" method="POST">
            <textarea name="defang" rows="5" cols="80"></textarea>
            <input type="submit", value="defang it!">
        </form>
        <h1>
            Refang!
        </h1>
        <form action="/refang/" method="POST">
            <input type="text" name="refang"/>
            <input type="submit", value="refang it!">
        </form>
    </body>
</html>